<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Startpage for flask_restful</title>
</head>
<body>
<section>
    <article>
        <h1>Landing page for flask restful sentence recognition project</h1>
    </article>
    <article>
        <h2>GET</h2>
        <ul>
            <li><code>localhost/</code> this startpage</li>
        </ul>
    </article>
    <article>
        <h2>POST</h2>
        <ul>
            <li>localhost/register</li>
            <li>localhost/detect</li>
            <li>localhost/refill</li>
        </ul>
    </article>
</section>
</body>
</html>
